In [3]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_sas('LLCP2018.XPT ', format='xport')
# df.dropna(inplace=True)
df.sample(5)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_MAM5022,_RFPAP34,_RFPSA22,_RFBLDS3,_COL10YR,_HFOB3YR,_FS5YR,_FOBTFS,_CRCREC,_AIDTST3
85397,13.0,7.0,b'07232018',b'07',b'23',b'2018',1200.0,b'2018006186',2.018006e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65177,12.0,2.0,b'02012018',b'02',b'01',b'2018',1100.0,b'2018001404',2.018001e+09,1.0,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
424908,55.0,5.0,b'06062018',b'06',b'06',b'2018',1100.0,b'2018003418',2.018003e+09,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
436565,72.0,11.0,b'02092019',b'02',b'09',b'2019',1100.0,b'2018003978',2.018004e+09,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
61014,11.0,1.0,b'01292019',b'01',b'29',b'2019',1100.0,b'2018001466',2.018001e+09,1.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [77]:
id_mask = df._STATE == 16.
use_mask = df.MARIJAN1 < 77
white = df._IMPRACE == 1
black = df._IMPRACE == 2
response_mask = ~np.isnan(df.MARIJAN1)

In [35]:
id_mar_use = df.MARIJAN1[~no_response_mar & use_mask & id_mask]

In [75]:
def state_marijuana_use_stats(state_mask, state):

    white = df._IMPRACE == 1
    black = df._IMPRACE == 2
    use_mask = df.MARIJAN1 < 77

    bl_tot = df.MARIJAN1[state_mask & black].count()
    wh_tot = df.MARIJAN1[state_mask & white].count()
    bl_use = df.MARIJAN1[state_mask & black & use_mask].count()
    wh_use = df.MARIJAN1[state_mask & white & use_mask].count()

    print(f'Percent Black people that use marijuana in {state}: {np.round(bl_use / bl_tot,3)}')
    print(f'Percent White people that use marijuana in {state}: {np.round(wh_use / wh_tot,3)}')

In [76]:
state_marijuana_use_stats(id_mask, 'Idaho')

Percent Black people that use marijuana in Idaho: 0.143
Percent White people that use marijuana in Idaho: 0.075

In [80]:
def marijuana_use_stats():

    white = df._IMPRACE == 1
    black = df._IMPRACE == 2

    bl_tot = df.MARIJAN1[response_mask & black].count()
    wh_tot = df.MARIJAN1[response_mask & white].count()
    bl_use = df.MARIJAN1[response_mask & black & use_mask].count()
    wh_use = df.MARIJAN1[response_mask & white & use_mask].count()

    print(f'Percent of Black people that use marijuana: {np.round(bl_use / bl_tot,3)}')
    print(f'Percent of White people that use marijuana: {np.round(wh_use / wh_tot,3)}')

In [81]:
marijuana_use_stats()

Percent of Black people that use marijuana: 0.081
Percent of White people that use marijuana: 0.065