In [2]:
import pandas as pd
import xport.v56
import numpy as np

In [14]:
df = pd.read_sas('LLCP2018.XPT ', format='xport')
df.sample(5)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_MAM5022,_RFPAP34,_RFPSA22,_RFBLDS3,_COL10YR,_HFOB3YR,_FS5YR,_FOBTFS,_CRCREC,_AIDTST3
418329,54.0,9.0,b'09072018',b'09',b'07',b'2018',1100.0,b'2018001891',2.018002e+09,1.0,...,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,2.0
132083,20.0,9.0,b'10012018',b'10',b'01',b'2018',1100.0,b'2018009778',2.018010e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
428778,56.0,4.0,b'05222018',b'05',b'22',b'2018',1200.0,b'2018000007',2.018000e+09,NaN,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
111000,18.0,7.0,b'07112018',b'07',b'11',b'2018',1100.0,b'2018005583',2.018006e+09,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
279355,36.0,9.0,b'09142018',b'09',b'14',b'2018',1100.0,b'2018019401',2.018019e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [5]:
nv_mask = df._STATE == 32.
use_mask = df.MARIJAN1 < 77
white = df._IMPRACE == 1
black = df._IMPRACE == 2
df[nv_mask & black].MARIJAN1.sample(5)

LLCP2018.ASC    LLCP2018XPT.zip data.py         test.txt
LLCP2018ASC.zip Untitled.ipynb  drug_data.xpt